@media all and (min-width: 480px) 
{
  .Deployment 
  {
    margin-top: 70px;
  }

  .Deployment Form 
  {
    margin: 0 auto;
    max-width: 480px;
  }

  .Deployment .lander
  {
    text-align: center;
  }

  .Deployment .lander h1 
  {
    font-weight: 600;
  }

  .Deployment .lander p 
  {
    color: #999;
  }
}